body {background-color: #fff;}
.container-fluid {
    padding: 0px;
}

#header {min-width: 1036px;}
.topnav {margin-right: 30px;}
#main_menu {margin-right: 20px;}

hr {margin-top: 8px;
margin-bottom: 8px;}
.btn-success {

background-color: #3cb4e8;
border-color: #3598C3;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
	background-color: #3598C3;
border-color: #2D7C9E;
}

.ui-datepicker-trigger {cursor: pointer;}
.smallm_title.bigger {text-transform: uppercase; margin-top: 50px;}

.webstep1 {
color: #fff;
position: relative;
background: url(https://rodrigobarona.github.io/westcoastcampers/images/bg_ws1.png) left top repeat-x;
}

.webstep1 .row { margin-bottom: 5px;}
.webstep2 .row  { margin-bottom: 0;}
.webstep1 h4 { font-weight: normal; font-size: 22px; padding-top:10px; }
.webstep1 h4 em {font-weight: bold;}

.webstep2 {}

.jumbotron {padding: 20px 30px !important; overflow: hidden;}
.jumbotron .row {margin-bottom: 5px;}
.jumbotron .form-group {width: 100%;}

.jumbotron label[for="PickupDay"],
.jumbotron label[for="YoungestDriver"] {margin-left: 0;}

.jumbotron select[name='PickupLocationID'],
.jumbotron select[name='DropoffLocationID'],
.jumbotron select[name="driverage" ] {width: 125px;}

.jumbotron input[name="PromoCode"] { width: 165px; }

.jumbotron select[name="DropoffTime"],
.jumbotron select[name="pickupTime"] {width: 113px;}

.webstep2 .vehicle-image {width: 85%;}



.webstep3 .vehicle-image {width: 70%;}
.webstep3 .row  { margin-bottom: 0;}

.webstep3 .form-control.input-sm {
	height: 20px;
	padding: 10px 10px;
	text-align: center;
}

.webstep3 .table label {margin-bottom: 0;}
.webstep3 .table>tbody>tr>td {vertical-align: middle;}



